* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: purple;
    font-family: sans-serif;
}

.orange {
    color:orange
}
.green {
    color:lawngreen
}
.player-mark {
    font-size: 3em;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
}

.cell:nth-child(3n+2) {
    border-left: 5px solid white;
    border-right: 5px solid white;
}

.cell:nth-child(n+4):nth-child(-n+6) {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

h1 {
    color: black;
    font-family: fantasy;
    font-size: 3em;
}

.column {
    padding: 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: black; 
    height: 500px;
    width: 500px;   
}

.game-end-message {
    color: black;
    border: 2px solid black;
    background-color: cyan;
    font-size: 2rem;
    padding: 12px;
    width: 300px;
}

.button {
    float: right;
    background-color: blueviolet;
    color: white;
}

#single-player-mode-button {
    border: 2px solid black;
    font-size: 2rem;
    background-color: blue;
    color: yellow;
}